%h1 Добавить квест
.content
  = form_for @quest do |f|
    = f.label :potterr, 'Гончар:'
    = f.collection_select :potterr, Potterr.all, :id, :name, prompt: 'Выберите гончара...'

    = f.label :pwheel_id, 'Круг:'
    = f.grouped_collection_select :pwheel_id, 
                                  Potterr.all, 
                                  :pwheels, :name, :id, :title, 
                                  { prompt: 'Выберите круг...' }, 
                                  { disabled: true, data: {ajax_path: get_pwheels_for_select_path} }

    = f.label :name, 'Квест:'
    = f.text_field :name

    = f.submit 'Добавить квест'