#show_article
	%p.notice
		= notice

	%br

	.article_content
		.wrapper_a
			%h3= @blog_sport.title
			.articles_content
				= @blog_sport.content.html_safe
			.articles_tags
				= @blog_sport.tags 
			- if signed_in?
				%span
					= link_to t('.edit'), edit_blog_sport_path(@blog_sport) 
				%span
					= link_to t('.destroy'), @blog_sport, method: :delete, data: { confirm: 'are you shure' }
			%span
				= link_to t('.back'), blog_sports_path, class: 'btn'