!!!
%h1 Создание гончара
.row
	.col-md-12
		.content
			.wrap
				= form_for :potterr, url: potterrs_path do |f|
					= f.label "Имя"
					= f.text_field :name
					= f.label "Копье (у.е.)"
					= f.text_field :spear
					= f.submit "Сохранить гончара"