!!!
%head
	%title Kakao Blog
	= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true 
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
	= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"
	%script{type: "text/javascript", src: "//vk.com/js/api/openapi.js?117"}
	%script{type: "text/javascript"}
		VK.init({apiId: API_ID, onlyWidgets: true});
	
%body.blog
	#blog_head
	.row.blog
		.col-md-12
			.nav-wrapper
				%ul.unstyled
					%li
						=link_to 'Программирование', blog_programms_path
					%li
						=link_to 'Art', blog_arts_path
					%li
						=link_to 'Спорт', blog_sports_path
					%li
<<<<<<< HEAD
						=link_to 'Галлерея', blog_gallery_path
=======
						=link_to 'Галлерея', '#'
>>>>>>> 1f337a3a6545061a062b16243a2947805eb5ebe0
					%li.right
						=link_to 'Об авторе', root_url
	
		.col-md-3.sidebar
			.wrap
				#sidebar				
					%p DONGFENG MOTOR ПРЕДСТАВЛЯЕТ КИТАЙСКИЕ АВТОМОБИЛИ DFM В РОССИИ
					DongFeng – претворяя мечты в жизнь.
					%p Добро пожаловать на сайт компании «Дунфэн Мотор Рус» — официального дистрибьютора Dongfeng Motor Corporation в России!
					%p Стильные, экономичные и комфортабельные модели этой марки успели завоевать сердца покупателей во всем мире. Делая ставку на китайские автомобили DFM, вы инвестируете деньги в безопасный, надежный, привлекательный автомобиль, который не подведет в сложной ситуации и станет вашим верным помощником на долгие годы!
					%p На официальном сайте Dongfeng вы узнаете:

					%p подробности об автомобилях DFM, их технические характеристики, комплектации и цены;
					адреса дилерских центров по всей России;
					новости об акциях, наших новинках и презентации;
					специальные кредитные или страховые предложения;
					информацию о гарантийной политике и сервисном обслуживании.
					%p С DongFeng Motor вы сможете позволить себе больше!

					%p Цена на автомобили DFM вас приятно удивит: по сравнению с конкурирующими марками наши модели стоят намного дешевле. Притом по уровню оснащения их никак нельзя отнести к бюджетным: обилие высокотехнологичных опций позволяет сделать приятной каждую поездку. Среди других преимуществ автомобилей DFM нужно отметить:
					%p Надежную систему безопасности. Проведенные краш-тесты доказывают: этим машинам можно доверять.
					%p Стильный европейский дизайн. Вы всегда будете в центре внимания!
					%p Адаптацию к российским условиям эксплуатации. Забудьте о проблемах с низким клиренсом, недостаточной мощностью аккумулятора
					или заледеневшими стеклами и зеркалами. Конструкторы продумали каждую деталь, чтобы суровый российский климат и плохие дороги перестали доставлять дискомфорт.
					Купить новый китайский автомобиль DFM в Москве и других городах России теперь может каждый: мы ежемесячно расширяем дилерскую сеть, охватывая новы
					
		= yield 

