!!!
%head
	%title Kakao Blog
	= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true 
	= javascript_include_tag 'application', 'data-turbolinks-track' => true 
	= csrf_meta_tags 
	= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"
	%script{type: "text/javascript", src: "//vk.com/js/api/openapi.js?117"}
	%script{type: "text/javascript"}
		VK.init({apiId: API_ID, onlyWidgets: true});
	
%body.blog
	#blog_head
	.row.blog
		.col-md-12
			.nav-wrapper
				%ul.unstyled
					%li
						=link_to 'Программирование', blog_programm_view_path, remote: :true
					%li
						=link_to 'Art', blog_art_view_path, remote: :true
					%li
						=link_to 'Спорт', blog_sport_view_path, remote: :true
					%li
						=link_to 'Галлерея', remote: :true
					%li.right
						=link_to 'Об авторе', root_url
		.col-md-12
			.wrapper
				#articles
					
	= yield 

